---
permalink: "article/{{ slugcat | slugify }}/index.html"
prerelease: false
date: Created
---
{% extends "base.njk" %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="/styles/article.scss">
	<link rel="stylesheet" type="text/css" href="/styles/includes/downloads.scss">
{% endblock %}

{% block body %}

	<div class="article-header">
		<img src="/assets/blog/{{slugcat | slugify}}/cover.webp" class="article-cover"/>
		<h2 class="article-title">{{ title }}</h2>
		<div class="article-metadata">
			<span class="article-author">By: {{ author }}</span>
			<span class="article-date">
				{{page.date.toLocaleString("en-us", { year:"numeric", month:"short", day:"numeric" })}}
			</span>
		</div>
	</div>

	<div class="article-content">
		{% if isRetroactive %}
			<div class="notice-panel info" style="margin-bottom: 1.65rem">
				<div class="notice-header">NOTE:</div>
				<div class="notice-message">
					This blog post was written retroactively to document events from GodSVG's early development history.
				</div>
			</div>
		{% endif %}

		<div class="article-html">
			{{ content | safe }}
		</div>

		<div class="article-bottom">
			{% if release != "" %}
				<div class="article-downloads">
					<h2>Downloads</h2>
					{% if prerelease %}
						<div class="notice-panel warning">
							<div class="notice-header">WARNING:</div>
							<div class="notice-message">
								This is a prerelease version. Please regularly back up your SVG files to prevent potential data loss.
							</div>
						</div>
					{% endif %}
					<div style="margin: 1.65rem">
						{% include "data/downloads.njk" %}
						<div class="downloads-container">
							{% for platform, release in downloads(release) %}
								<div class="download-info">
									<img src="/assets/platforms_{{platform}}.svg" alt="{{platform}} icon">
									<p>{{platformInfo.displayNames[platform]}}</p>
									<a href="{{release}}" class="btn btn-download" version="{{release}}">Download</a>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			{% endif %}

			<div>
				<h2>Support</h2>
				<div class="support-panel">
					<p class="support-panel-paragraph">Many thanks to everyone who has donated to this project! These donations, while currently small, have allowed me to dedicate a lot more time to GodSVG while balancing other responsibilities. Without them, the project would be far behind where it is today. If you find GodSVG valuable and are able to donate, I would be very grateful!</p>
					{% include "donation_widget.njk" %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
