<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/styles/base.scss">
		<link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
		<link href="https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">

		<!-- Title -->
		{% if title | length == 0 %}
			<title>GodSVG</title>
		{% else %}
			<title>{{ title }}</title>
		{% endif %}

		{% block metadata %}
			{% set metaTitle = (metaTitle or title or "GodSVG - Free and Open Source SVG editor") %}
			{% set metaDescription = (metaDescription or "A free, open-source, low-level vector graphics editor, available on all major desktop platforms and on web.") %}

			<!-- Primary meta tags -->
			<meta name="title" content="{{ metaTitle }}" />
			<meta name="description" content="{{ metaDescription }}" />
			<meta content="#489ae0" data-react-helmet="true" name="theme-color" />

			<!-- Open Graph -->
			<meta property="og:image" content="{{ site.url }}/assets/card.webp" />
			<meta property="og:type" content="website" />
			<meta property="og:url" content="{{ site.url }}" />
			<meta property="og:title" content="{{ metaTitle }}" />
			<meta property="og:description" content="{{ metaDescription }}" />
			<meta property="og:icon" content="{{ site.url }}/assets/favicon.ico" />
			<meta property="og:type" content="website" />
			<meta property="og:locale" content="en_US" />
			<meta property="og:site_name" content="GodSVG" />

			<!-- Twitter -->
			<meta property="twitter:url" content="{{ site.url }}" />
			<meta property="twitter:title" content="{{ metaTitle }}" />
			<meta property="twitter:description" content="{{ metaDescription }}" />
			<meta property="twitter:card" content="{{ site.url }}/assets/card.webp" />
			<meta property="twitter:image" content="{{ site.url }}/assets/card.webp" />
		{% endblock %}

		{% block head %}{% endblock %}
		{% block style %}{% endblock %}

		<script src="/scripts/base.js" type="application/javascript"></script>
		{% block script %}{% endblock %}
	</head>

	<body>
		{% include "navbar.njk" %}
		{% block body %}
			Missing page body
		{% endblock %}
		{% include "footer.njk" %}
	</body>
</html>