<div id="footer">
	<div class="footer-container">
		<span>&copy; Website: 2025-present MewPurPur and FlooferLand</span>
		<span>Website <a href="https://github.com/MewPurPur/GodSVG-Website">source code on Github</span>
		<span>&copy; GodSVG: 2023 MewPurPur, 2023-present GodSVG contributors</span>
	</div>
</div>
