<div id="footer">
	<div class="footer-container">
		<span>&copy; 2024-present GodSVG contributors</span>
		<span>Website <a href="https://github.com/MewPurPur/GodSVG-Website">source code on Github</span>
	</div>
</div>
