<div id="footer">
	<div class="footer-container">
		<span>&copy; 2025-present MewPurPur and FlooferLand</span>
		<span><a href="https://github.com/MewPurPur/godsvg-website">Website source code on Github</span>
	</div>
</div>
