{% set imageCount = images.length %}
<div class="gallery-view">
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			const links = document.querySelectorAll(".gallery-view-image a");
			const modal = document.querySelector(".gallery-modal")
			const modalClose = document.querySelector(".gallery-modal-close")
			const modalImage = document.querySelector(".gallery-modal-image")
			const modalDescription = document.querySelector(".gallery-modal-description")

			links.forEach(function(link) {
				link.addEventListener("click", function(e) {
					const image = this.querySelector("img");
					modal.style.display = "block";

					modalImage.src = image.src;
					modalDescription.innerText = image.dataset.desc;
				})
			});
			modalClose.addEventListener("click", function() {
				modal.style.display = "none";
			})
			window.addEventListener("click", function(event) {
				if (event.target != modal) return;
				modal.style.display = "none";
			})
		});
	</script>
	<link rel="stylesheet" type="text/css" href="/styles/templates/gallery_view.scss">
	<div class="gallery-view-images">
		{% for image in images %}
			<div class="gallery-view-image">
				<a href="javascript:void(0)">
					<img src="{{ image.src }}" class="gallery-view-image" data-desc="{{ image.desc }}" alt="{{ image.alt }}" loading="lazy" />
				</a>
			</div>
		{% endfor %}
	</div>
</div>
<div class="gallery-modal">
	<div class="gallery-modal-content">
		<span class="gallery-modal-close">&times;</span>
		<img class="gallery-modal-image" src="" alt="" loading="lazy" />
		<p class="gallery-modal-description"></p>
	</div>
</div>
