<!--
	TODO: Turn this into a macro (https://mozilla.github.io/nunjucks/templating.html#macro)
		This would allow easily changing metadata per page.
-->

{% set title = "GodSVG - Free and Open Source SVG editor" %}
{% set description = "A free, open-source, low-level vector graphics editor, available on all major desktop platforms and on web." %}

<!-- Primary meta tags -->
<meta name="title" content="{{title}}" />
<meta name="description" content="{{description}}" />
<meta content="#489ae0" data-react-helmet="true" name="theme-color" />

<!-- Open Graph -->
<!--meta property="og:image" content="TODO: Add large image cover here" /-->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://godsvg.com/" />
<meta property="og:title" content="{{title}}" />
<meta property="og:description" content="{{description}}" />
<meta property="og:icon" content="https://godsvg.com/assets/favicon.ico" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="GodSVG" />

<!-- Twitter -->
<!--meta property="twitter:card" content="TODO: Add large image cover here" /-->
<meta property="twitter:url" content="https://godsvg.com/" />
<meta property="twitter:title" content="{{title}}" />
<meta property="twitter:description" content="{{description}}" />
<!--meta property="twitter:image" content="TODO: Add large image cover here" /-->
