<div class="nav-container">
	<script type="application/javascript">
		function toggleMenu() {
			const navLinks = document.getElementById("nav-links");
			navLinks.classList.toggle("show");
		}
	</script>
	<link rel="stylesheet" type="text/css" href="/styles/templates/navbar.scss">
	<div class="nav-content">
		<a href="/" class="nav-logo">
			<img src="/assets/favicon.ico" alt="GodSVG logo">
			<span class="nav-logo-text">GodSVG</span>
		</a>
		<div class="hamburger" onclick="toggleMenu()">
			<!-- Mimics a hamburger icon. -->
			<span></span><span></span><span></span>
		</div>
		<div class="nav-links" id="nav-links">
			<a href="/releases" class="nav-link {% if page.url === '/releases/' %}active{% endif %}">Releases</a>
			<a href="/blog" class="nav-link {% if page.url === '/blog/' %}active{% endif %}">Blog</a>
			<!--a href="/docs" class="nav-link {% if page.url === '/docs/' %}active{% endif %}">Docs</a-->
			<a href="/editor" class="nav-link">Web&nbsp;Editor</a>
		</div>
	</div>
</div>