{%- set reviews = 7 -%}
{%- set rating = 5.0 -%}
{
    "@context": "https://schema.org",
    "@type": "SoftwareApplication",
    "name": "GodSVG",
    "description": "GodSVG is a free and open-source vector graphics application for structured SVG editing, available on all major desktop platforms and on web.",
    "operatingSystem": ["Windows", "Linux", "MacOS", "Android"],
    "applicationCategory": "GraphicsApplication",
    "url": "{{ site.url }}",
    "downloadUrl": "{{ site.url }}/releases",
    "image": "{{ site.url }}/assets/card.webp",
    "softwareVersion": "{{ godsvg.version }}",
    "author": {
        "@type": "Person",
        "name": "MewPurPur"
    },
    "offers": {
        "@type": "Offer",
        "price": 0
    },
    "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": {{ ratings }},
        "ratingCount": {{ reviews }},
        "bestRating": 5,
        "worstRating": 1
    }
}
