<!-- Copies data from eleventy.config.js -->
<!-- Needed because Eleventy sucks -->

<script type="application/javascript">
	const godsvg = {
		version: {{ godsvg.version | dump | safe }},
	}
</script>
