@use "scss/theme" as *;
@use "sass:color";

#download-section {
	display: flex;
	justify-content: center;
	align-items: stretch;
	margin-top: 20px;
}

.btn-download {
	background-color: #2e6cb8;
	color: #fff;
	min-width: 180px;
	text-decoration: none !important;
	&:hover {
		background-color: #3579cf;
	}
}

.dropbtn {
	background-color: #333;
	color: #e0e0e0;
	padding: 10px;
	font-size: 0.65rem;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	height: 70%;
	display: flex;
	align-items: center;
	list-style: none;
	min-width: 180px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #333;
	width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	right: 0;
	overflow: hidden;
	border-radius: 5px;

	a {
		color: white;
		padding: 10px 12px;
		text-decoration: none !important;
		display: flex;
		align-items: center;

		&:hover {
			color: white;
			background-color: #ffffff1a;
		}

		.platform-icon {
			margin-right: 10px;
			height: 1.5rem;
			width: 1.5rem;
		}

		.text-container {
			display: flex;
			flex-direction: column;
		}

		.small-text {
			font-size: 0.45rem;
		}

		.big-text {
			font-size: 0.75rem;
			font-weight: 700;
		}

		.solo-platform-icon {
			margin-right: 8px;
			height: 1.2rem;
			width: 1.2rem;
		}

		.solo-text {
			font-size: 0.7rem;
			font-weight: 700;
		}
	}
}

.dropdown.active .dropdown-content {
	display: block;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #444;
}

.download-option .platform-icon {
	margin-right: 10px;
	height: 1.5rem;
	width: 1.5rem;
}

.download-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $button;
	color: #fff;
	border-radius: 5px;
	padding: 10px;
	text-decoration: none;

	&:hover {
		color: #fff;
		background-color: $button_hover;
		text-decoration: none;
	}

	.small-text {
		font-size: 0.45rem;
		white-space: nowrap;
	}

	.big-text {
		font-size: 0.75rem;
		font-weight: 700;
	}
}

.download-buttons-container {
	display: flex;
	align-items: stretch;
	gap: min(20px, 3vw);
	margin: 4px;
}

.dropdown .dropbtn {
	display: flex;
	align-items: center;
	justify-content: center;
}

.platform-option {
	display: flex;
	align-items: center;
	color: #fff;
	opacity: 0.5 !important;
	text-decoration: none !important;

	&:hover {
		background-color: color.adjust($background, $lightness: 15%, $space: hsl);
	}

	&.active {  // Active platform (detectOS)
		opacity: 1.0 !important;
	}

	&:first-child {
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
	}

	&:last-child {
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
	}
}

.btn {
	padding: 0.3rem 0.5rem;
	border-radius: 5px;
	font-family: $title_font;
	font-weight: 500;
	font-size: 0.75rem;
	cursor: pointer;
	user-select: none;
	text-decoration: none !important;
	text-align: center;
	display: inline-block;
	min-width: 0;
	&:hover {
		color: white;
	}
}

.btn-notes {
	background-color: color.adjust($background, $lightness: 15%);
	color: #fff;
	&:hover {
		color: #fff;
		background-color: color.adjust($background, $lightness: 20%);
	}
}

.dropdown {
	position: relative;
	display: inline-block;
}

@media (max-width: 720px) {
	.btn, .btn-download {
		justify-content: center;
	}

	.dropdown-content {
		width: 100%;
		left: 0;
		right: auto;
	}
}

.platform-icon {
	width: 1.2rem;
	height: 1.2rem;
	margin-right: 0.8rem;
}
