@use "scss/theme" as *;
@use "sass:color";

#download-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}

.vicki-container {
	display: flex;
	justify-content: center;
	align-items: center;

	.vicki-jump {
		width: min(95vw, 34rem);
		height: auto;
		margin-bottom: min(calc(-0.04 * 34rem + ((34rem - min(95vw, 34rem)) * 0.2)), 0rem);
	}
}

.btn-download {
	background-color: $button;
	color: #fffe;
	min-width: 10rem;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.45rem;

	&:hover {
		background-color: $button_hover;
	}
	&:active {
		background-color: $button_pressed;
	}
	&:focus-visible {
		outline: 2px solid $focus;
		outline-offset: -1px;
	}
	&:hover, &:focus-visible, &:active {
		color: #fff;

		chevron {
			opacity: 1.0;
		}
	}
}

.dropbtn {
	background-color: #6666;
	color: #fffc;
	font-size: 1.05rem;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	display: flex;
	align-items: center;
	list-style: none;
	min-width: 10rem;
	height: 100%;

	&:hover {
		background-color: #6668;
	}
	&:focus-visible {
		outline: 2px solid $focus;
		outline-offset: -1px;
	}
	&:hover, &:focus-visible {
		color: #fffe;

		chevron {
			opacity: 1.0;
		}
	}
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #333;
	width: 100%;
	box-shadow: 0px 8px 16px 0px #0003;
	z-index: 1;
	right: 0;
	overflow: hidden;
	border-radius: 5px;

	a {
		color: #fff;
		padding: 0.5rem 0.6rem;
		text-decoration: none !important;
		display: flex;
		align-items: center;

		.platform-icon {
			margin-right: 0.6rem;
			height: 2rem;
			width: 2rem;
		}

		.text-container {
			display: flex;
			flex-direction: column;
		}

		.small-text {
			font-size: 0.75rem;
		}

		.big-text {
			font-size: 1.25rem;
			font-weight: 700;
		}

		.solo-platform-icon {
			margin-right: 0.5rem;
			height: 1.8rem;
			width: 1.8rem;
		}

		.solo-text {
			font-size: 1.15rem;
			font-weight: 700;
		}

		&:hover {
			color: #fff;
			background-color: #ffffff1a;
		}
		&:focus-visible {
			outline-offset: -2px;
		}
	}
}

.dropdown.open .dropdown-content {
	display: block;
}

.download-option .platform-icon {
	margin-right: 0.5rem;
	height: 2rem;
	width: 2rem;
}

.download-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $button;
	color: #fffe;
	border-radius: 5px;
	padding: 0.5rem;
	text-decoration: none;

	.small-text {
		font-size: 0.75rem;
		white-space: nowrap;
	}

	.big-text {
		font-size: 1.25rem;
		font-weight: 700;
	}

	&:hover {
		color: #fff;
		background-color: $button_hover;
		text-decoration: none;
	}
	&:active {
		color: #fff;
		background-color: $button_pressed;
	}
}

.tall-buttons-container {
	min-height: 3rem;
	display: flex;
	gap: min(1rem, 3vw);
}

.dropdown .dropbtn {
	display: flex;
	gap: 0.4rem;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
}

.platform-option {
	display: flex;
	align-items: center;
	color: #fff;
	opacity: 0.5 !important;
	text-decoration: none !important;
	border-radius: 6px;

	&:hover {
		background-color: color.adjust($background, $lightness: 15%, $space: hsl);
	}
	&.active {  // Active platform (detectOS)
		opacity: 1.0 !important;
	}
}

.btn {
	padding: 0.5rem 0.75rem;
	border-radius: 5px;
	font-family: $title_font;
	font-weight: 500;
	font-size: 1.25rem;
	cursor: pointer;
	text-decoration: none !important;
	text-align: center;
	min-width: 0;

	&:hover {
		color: #fff;
	}
}

.btn-notes {
	background-color: color.adjust($background, $lightness: 15%);
	color: #fffe;

	&:hover {
		background-color: color.adjust($background, $lightness: 20%);
	}
	&:active {
		background-color: color.adjust($background, $lightness: 25%);
	}
	&:hover, &:active, &:focus-visible {
		color: #fff;
	}
}

.dropdown {
	position: relative;
	display: inline-block;
}

@media (max-width: 720px) {
	.btn, .btn-download {
		justify-content: center;
	}

	.dropdown-content {
		width: 100%;
		left: 0;
		right: auto;
	}
}

.platform-icon {
	width: 2rem;
	height: 2rem;
	margin-right: 0.6rem;
}

.distributor-button {
	background-color: #fff2;

	&:hover {
		background-color: #fff3;
	}
	&:active {
		background-color: #fff5;
	}
}
