@use "scss/theme" as *;
@use "sass:color";

#download-section {
	display: flex;
	justify-content: center;
	align-items: stretch;
	margin-top: 20px;
}

#main-download {
	margin-right: 10px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.btn-download {
	background-color: #2e6cb8;
	color: #fff;
	min-width: 180px;
	text-decoration: none !important;
	&:hover {
		background-color: #3579cf;
	}
}

.dropbtn {
	background-color: #333;
	color: #e0e0e0;
	padding: 10px;
	font-size: 0.65rem;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	height: 70%;
	display: flex;
	align-items: center;    
	list-style: none;
	min-width: 180px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #333;
	width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	right: 0;
	overflow: hidden;
	border-radius: 5px;

	a {
		color: white;
		padding: 10px 16px;
		text-decoration: none !important;
		display: flex;
		align-items: center;
		&:hover {
			color: white;
			background-color: #ffffff1a;
		}
		&:active {
			background-color: #ffffff40;
		}
		.platform-icon {
			margin-right: 10px;
			height: 1.5rem;
			width: 1.5rem;
		}
		.text-container {
			display: flex;
			flex-direction: column;
		}
		.small-text {
			font-size: 0.45rem;
		}
		.big-text {
			font-size: 0.75rem;
			font-weight: 600;
		}
		.solo-text {
			font-size: 0.9rem;
			font-weight: 600;
		}
	}
}
.dropdown.active .dropdown-content {
	display: block;
}
.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #444;
}

.download-option .platform-icon {
	margin-right: 10px;
	height: 1.5rem;
	width: 1.5rem;
}

.download-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $button;
	color: white;
	border-radius: 5px;
	padding: 10px;
	text-decoration: none;

	&:hover {
		color: white;
		background-color: $button_hover;
		text-decoration: none;
	}

	&:active {
		background-color: #1e4a7c;
	}
	
	.small-text {
		font-size: 0.45rem;
		white-space: nowrap;
	}

	.big-text {
		font-size: 0.75rem;
		font-weight: 600;
	}
}

.download-buttons-container {
	display: flex;
	align-items: stretch;
	gap: 20px;
	margin: 4px;
}

.dropdown .dropbtn {
	display: flex;
	align-items: center;
	justify-content: center;
}

.platform-option {
	display: flex;
	align-items: center;
	padding: 0.7rem 1rem;
	color: #fff;
	text-decoration: none !important;

	&:hover {
		background-color: color.adjust($background, $lightness: 15%, $space: hsl);
	}
	&.active {  // Active platform (getOS)
		background-color: mix(color.adjust($background, $lightness: 20%, $space: hsl), $accent, 80%);
		&:hover {
			background-color: mix(color.adjust($background, $lightness: 20%, $space: hsl), $accent, 60%);
		}
	}
	&:first-child {
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
	}
	&:last-child {
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
	}
}

.platform-icon {
	width: 1.2rem;
	height: 1.2rem;
	margin-right: 0.8rem;

	&.active {
		$col: color.adjust($accent, $saturation: 20%, $space: hsl);
		filter:
			opacity(0.05)
			drop-shadow(0 0 0 )
			drop-shadow(0 0 0 $col)
			drop-shadow(0 0 0 $col)
			drop-shadow(0 0 0 $col)
			drop-shadow(0 0 0 $col)
			drop-shadow(0 0 0 $col)
			drop-shadow(0 0 0 $col)
			!important;
	}
}
