$title-color: #fff;
$inner-color: #fffd;
$dim-text: #80858c;

.notice-panel {
	color: $inner-color;
	position: relative;
	width: 840px;
	padding: 38px 20px 16px 16px;
	border-radius: 6px;

	&.info {
		$info-bg: #0e233d;
		$info-accent: #437ab1;
		background-color: $info-bg;
		border: 2px solid $info-accent;
		.notice-header {
			background-color: $info-accent;
			border: 2px solid $info-accent;
		}
	}
	&.warning {
		$warn-bg: #4c4e10;
		$warn-accent: #b0b83e;
		background-color: $warn-bg;
		border: 2px solid $warn-accent;
		.notice-header {
			background-color: $warn-accent;
			border: 2px solid $warn-accent;
		}
	}

	.notice-header {
		color: $title-color;
		font-weight: 700;
		font-size: 0.65rem;
		position: absolute;
		top: -2px;
		left: -2px;
		padding: 2px 10px;
		border-bottom-right-radius: 6px;
		border-top-left-radius: 8px; // Bigger than 6 to avoid anti-aliasing.
	}

	.notice-message {
		font-size: 0.65rem;
		margin-top: 8px;
		line-height: 1.0;
		font-weight: 500;
	}
}
