.notice-panel {
	position: relative;
	padding: 2.1rem 1.1rem 0.9rem 0.9rem;
	border-radius: 6px;

	&.info {
		$info-accent: #437ab1;
		color: #d0e7fd;
		background-color: #0e233d;
		border: 2px solid $info-accent;
		.notice-header {
			background-color: $info-accent;
			border: 2px solid $info-accent;
		}
	}
	&.warning {
		$warn-accent: #b0b83e;
		color: #fffbce;
		background-color: #4c4e10;
		border: 2px solid $warn-accent;
		.notice-header {
			background-color: $warn-accent;
			border: 2px solid $warn-accent;
		}
	}

	.notice-header {
		color: #fff;
		font-weight: 700;
		font-size: 1rem;
		position: absolute;
		top: -2px;
		left: -2px;
		padding: 0.1rem 0.5rem;
		border-radius: 8px 0 0 6px;  // Top left radius bigger than 6 to avoid antialiasing overlaps.
	}

	.notice-message {
		font-size: 1rem;
		margin-top: 4px;
		line-height: 1.25;
		font-weight: 400;
	}
}
