@use "scss/theme" as *;
@use "sass:color";

html, body {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0.8rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

h1 {
	font-size: 2rem;
	margin-top: 0;
}

.panel {
	background-color: color.adjust($background, $lightness: 5%);
	border-radius: 10px;
	padding: 0.8rem;
	width: 90%;
	max-width: 400px;

	p {
		color: #eee;
		margin: 0;
		font-size: 1.1rem;
	}

	a {
		font-size: 1.1rem;
	}
}
