@use "sass:color";
@use "scss/theme" as *;

$max-width: min(960px, 90%);

.article-header {
	max-width: $max-width;
	margin: auto;
	background-color: color.adjust($background, $lightness: 2%);
	padding: 20pt;
}

.article-title {
	color: #fff;
	text-align: center;
	font-size: 1.4rem;
}

.article-content {
	text-align: left;
	margin: auto;
	width: $max-width;
	background-color: color.adjust($background, $lightness: -1.5%);
	padding: 20pt;

	// Custom markdown styling
	p {
		color: color.adjust(#fff, $lightness: -15%);
		font-size: 0.6rem;
		line-height: 1.5;
		margin-top: 0;
	}
	h1 {
		color: color.adjust(#fff, $lightness: -5%);
		font-family: $title_font;
		font-size: 1.1rem;
		margin-bottom: 0.3rem;
	}
}

.article-cover {
	display: block;
	width: 98%;
	margin: auto;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.article-metadata {
	display: flex;
	align-items: center;
	font-weight: 700;
	color: color.adjust(#fff, $lightness: -40%);
	font-size: 0.9rem;
}

.article-author {
	display: flex;
	flex-grow: 1;
	align-items: center;
}

.article-image, .article-video {
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
	text-align: center;
	
	img, video {
		width: auto;
		max-width: 98%;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
		user-select: none;
	}
}

.support-panel {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.75rem;
	background-color: color.adjust($background, $lightness: +2%);
	border-radius: 5px;
	padding: 16px 22px;
}

@media (max-width: 830px) {
	.support-panel {
		flex-direction: column;
		gap: 0.25rem;
		padding-bottom: 22px;
	}
}