@use "sass:color";

@use "includes/normalize";
@use "includes/downloads";
@use "includes/notices";
@use "scss/theme" as *;

// Common styles across pages.

html {
	color: #fff;
	font-size: clamp(14px, 4.25vw, 18px);
	font-family: $default_font;
}

body {
	background-color: $background;
	margin: 0 auto;
	padding: 0;
}

a {
	color: $accent;
	text-decoration: underline;
	text-decoration-color: #489ae080;

	&:hover {
		color: color.adjust($accent, $lightness: 20%, $space: hsl);
		text-decoration: underline;
	}
}

h1 {
	color: #fff;
	text-align: center;
	font-family: $title_font;
	font-size: 2.5rem;
	font-weight: 700;
	margin: 0;
	margin-top: 1.25rem;
	margin-bottom: 0.75rem
}

h2 {
	color: #eee;
	font-family: $title_font;
	font-size: 1.75rem;
	margin-bottom: 0.5rem;
}

p {
	color: #ccc;
	font-size: 1rem;
	line-height: 1.4;
	margin-top: 0;
	margin-bottom: 0.5rem;
}

ul {
	padding-left: 1.65rem;
	margin-top: 0;
	margin-bottom: 0.85rem;
	color: #ccc;
	font-size: 1rem;
	line-height: 1.5;
}

li {
	margin-top: 0.35rem;
	line-height: 1.4;
}

.content {
	background-color: color.adjust($background, $lightness: -2%);
	border-radius: 6px;
	width: 94%;
	max-width: 960px;
	margin: 0 auto;
	margin-top: 1.75rem;
	padding: min(1.5rem, 3vw);
}

#top-section {
	display: flex;
	align-items: center;
	justify-content: center;
}

.no-bullet-point {
	list-style: none;
}

.img-bullet-point {
	width: 1.5rem;
	height: 1.5rem;
	margin-left: -0.6rem;
	margin-bottom: -0.3rem;
	margin-right: 0.3rem;
}


.tab-container {
	display: flex;
	justify-content: center;
	gap: min(1rem, 2%);

	.tab {
		&:nth-child(1) {
			border-bottom: solid 4px $vicki_blue;
		}
		&:nth-child(2) {
			border-bottom: solid 4px $vicki_green;
		}
		&:nth-child(3) {
			border-bottom: solid 4px $vicki_red;
		}
	}
}

.tab {
	flex: 1; // Ensure tabs are equal width.
	font-size: 1.4rem;
	display: inline-block;
	background-color: #333;
	color: #ddd;
	padding: 0.4rem 0.6rem;
	border-radius: 5px;
	cursor: pointer;
	text-align: center; // Center the text inside the tabs.

	&:hover {
		color: #eee;
		background-color: #444;
	}
	&.selected {
		color: #fff;
		background-color: #666;
		cursor: default;
		font-weight: 700;
	}
}

.donate-tab {
	background-color: #3e2931;
	color: #fff;

	&:hover {
		background-color: #533742;
	}
	&.selected {
		background-color: #c8a;
		cursor: default;
	}
}

.list-pro {
	color: #9e9;

	&::before {
		content: "+";
		font-weight: 700;
		display: inline-block;
		width: 1rem;
	}
}

.list-con {
	color: #e99;

	&::before {
		content: "–";
		font-weight: 700;
		display: inline-block;
		width: 1rem;
	}
}

.chevron {
	opacity: 0.8;
    border-right: 0.175rem solid;
    border-bottom: 0.175rem solid;
	margin-bottom: 0.1rem;
    width: 0.35rem;
    height: 0.35rem;
    transform: rotate(45deg);
}

.big-gap {
	height: 1.5rem;
}

.medium-gap {
	height: 1.125rem;
}

.small-gap {
	height: 0.75rem;
}
