@use "sass:color";

@use "includes/normalize";
@use "includes/downloads";
@use "scss/theme" as *;

/* Common styles across pages. */

a {
    color: $accent;
    text-decoration: underline;
    text-decoration-color: #489ae080;

    &:hover {
        color: color.adjust($accent, $lightness: 20%, $space: hsl);
        text-decoration: underline;
    }
}

html {
    color: white;
    font-size: min(9vw, 30px);
    font-family: $default_font;
}

body {
    background-color: $background;
    margin: 0 auto;
    padding: 0;
}

br {
    margin-bottom: 0.25rem;
}

.content {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

#top-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq-question {
    color: white;
    font-size: 1rem;
    font-family: $title_font;
    margin-bottom: 0.1rem;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
}

.dim-text {
    font-size: 0.65rem;
    line-height: 1rem;
    font-family: $default_font;
    color: #acacac;
    margin-top: 0rem;
    margin-bottom: 0.25rem;

    li {
        margin-bottom: 0.25rem;
        list-style-type: none;
    }
}

.social-icon {
    width: 1rem;
    height: 1rem;
    margin-bottom: -0.2rem;
    margin-right: 0.2rem;
}

#footer {
    text-align: center;
    color: #686b70;
    font-size: 0.8rem;
    padding: 2rem 0;
    margin-top: 2rem;
    border-top: 1px solid #333;
}

.tab-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 20px;

    .tab {
        &:nth-child(1) {
            border-bottom: solid 4px $vicki_blue;
        }
        &:nth-child(2) {
            border-bottom: solid 4px $vicki_green;
        }
        &:nth-child(3) {
            border-bottom: solid 4px $vicki_red;
        }
    }
}

.tab {
    flex: 1; /* Ensure tabs are equal width */
    display: inline-block;
    background-color: #333;
    color: #e0e0e0;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; /* Center the text inside the tabs */

    &:hover {
        color: #f4f4f4;
        background-color: #444;
    }
    &.selected {
        color: white;
        background-color: #666;
        cursor: default;
        font-weight: bold;
    }
}

.donate-tab {
    background-color: #3e2931;
    color: white;

    &:hover {
        background-color: #533742;
    }
    &.selected {
        background-color: #c8a;
        cursor: default;
    }
}

.list-pro {
    color: #9e9;

    &::before {
        content: "+";
        font-weight: bold;
        display: inline-block;
        width: 0.85em;
    }
}

.list-con {
    color: #e99;
    &::before {
        content: "–";
        font-weight: bold;
        display: inline-block;
        width: 0.85em;
    }
}
