@use "sass:color";
@use "scss/theme" as *;

.content-container {
	width: 960px;
	max-width: 90%;
	margin: 0 auto;
}

.blog-posts-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.5rem;
	width: 100%;
}

.blog-card {
	width: 100%;
	border-radius: 8px;
	overflow: hidden;
	transition: box-shadow 0.2s;
	background-color: color.adjust($background, $lightness: -2%);

	&:hover {
		box-shadow: 0 0 8px 8px rgba(255, 255, 255, 0.04);
	}

	a {
		display: block;
		text-decoration: none;
	}

	.blog-card-text {
		padding: 0.8rem;
		padding-top: 0.55rem;
	}

	.date {
		color: color.adjust(#fff, $lightness: -50%);
		margin: 0;
		margin-bottom: 0.3rem;
		font-size: 0.8rem;
	}

	.title {
		margin: 0;
		color: color.adjust(#fff, $lightness: -10%);
		font-weight: 700;
		font-size: 1.3rem;
	}

	.tagline {
		line-height: 1.25;
		margin: 0;
		margin-top: 0.65rem;
		color: color.adjust(#fff, $lightness: -30%);
		font-weight: 400;
		font-size: 0.95rem;
	}
}

.blog-thumbnail {
	width: 100%;
	height: auto;
	display: block;
	transition: opacity 0.2s;
}

.blog-card .blog-thumbnail {
	opacity: 0.9;
}

.blog-card:hover .blog-thumbnail {
	opacity: 1.0;
}

@media (max-width: 960px) {
	.blog-posts-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 640px) {
	.blog-posts-grid {
		grid-template-columns: 1fr;
	}
}

#blog-feed-btn {
	$bg: #d06915;
	$size: 1rem;

	position: absolute;
	margin-left: 1rem;
	background-color: $bg;

	padding: 0.2rem 0.2rem;
	border-radius: 5px;
	cursor: pointer;
	user-select: none;
	text-decoration: none !important;

	display: inline-flex;
	align-items: start;
	gap: 4px;

	&:hover {
		background-color: color.adjust($bg, $lightness: -5%);
	}

	img {
		margin: auto;
		width: $size;
		height: $size;
	}
}