@use "sass:color";
@use "scss/theme" as *;

.footer-container {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #777;
	background-color: color.adjust($background, $lightness: -2%);
	font-size: 0.9rem;
	margin-top: 1rem;
	border-top: 1px solid color.adjust($background, $lightness: +5%);
}

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem;

	span {
		margin: 0.15rem;
	}
}

.footer-socials {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding-left: 1rem;

	a {
		opacity: 0.6;

		&:hover {
			opacity: 0.8;
		}

		&:active {
			opacity: 1.0;
		}

		img {
			width: 2rem;
			height: 2rem;
		}
	}
}

@media (max-width: 640px) {
	.footer-socials {
		padding-left: 0;
		padding-bottom: 0.25rem;
	}

	.footer-container {
		flex-direction: column;
	}
}
