@use "sass:color";
@use "scss/theme" as *;

.gallery-view {
	margin: 1rem;
	
	.gallery-view-images {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
		gap: 15px;
	}
	
	.gallery-view-image {
		overflow: hidden;
		border: none;
		border-radius: 6px;
		aspect-ratio: 1 / 1;
		background-color: transparent;
		cursor: pointer;
		padding: 0;
		transition: box-shadow 0.2s;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
		}

		&:hover {
			box-shadow: 0 0 6px 6px rgba(255, 255, 255, 0.08);
		}
		&:focus-visible {
			outline: 2px solid $focus;
		}
	}
}

.gallery-modal {
	display: none;
	position: fixed;
	inset: 0;
	z-index: 9999;
	background-color: rgba(0, 0, 0, 0.85);
	align-items: center;
	justify-content: center;
}

.gallery-modal-content {
	display: flex;
	flex-direction: column;
	width: min(80%, 900px);
	max-height: 90vh;
}

.gallery-modal-title-bar {
	background-color: color.adjust($background, $lightness: -1%);
	padding: 0.3rem 0.6rem;
	border-radius: 10px 10px 0 0;
	display: flex;
	justify-content: flex-end;
}

.gallery-modal-main-content {
	padding: 1rem;
	border-radius: 0 0 10px 10px;
	background-color: color.adjust($background, $lightness: +3%);
	min-height: 0;
	flex: 1;
	overflow-y: auto;
}

.gallery-modal-image {
	width: 100%;
	max-height: 69vh;
	object-fit: contain;
}

.gallery-modal-description {
	margin-top: 0.5rem;
	margin-bottom: 0;
}

.gallery-modal-close {
	position: relative;
	width: 32px;
	height: 32px;
	background-color: transparent;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	opacity: 0.8;

	span {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 24px;
		height: 4px;
		background-color: #fff;
		border-radius: 2px;
		transform-origin: center;

		&:first-child {
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&:last-child {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}

	&:hover, &:focus-visible {
		background-color: #fff2;
		opacity: 1.0;
	}
	&:active {
		background-color: #fff4;
	}
}
