@use "sass:color";
@use "scss/theme" as *;

.gallery-view {
	position: relative;
	margin: 1rem;
	
	.gallery-view-images {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
		gap: 15px;
	}
	
	.gallery-view-image {
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		border: none;
		border-radius: 6px;
		aspect-ratio: 1 / 1;
		background-color: transparent;
		cursor: pointer;
		padding: 0;
		transition: box-shadow 0.2s;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
		}

		&:hover {
			box-shadow: 0 0 6px 6px rgba(255, 255, 255, 0.08);
		}
		&:focus-visible {
			outline: 2px solid $focus;
		}
	}
}

.gallery-modal {
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.85);

	.gallery-modal-content {
		display: flex;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		flex-direction: column;
		background-color: color.adjust($background, $lightness: +3%);
		border-radius: 10px;
		padding: 20px;
		width: 80%;
		max-width: 900px;
		gap: 12px;

		.gallery-modal-image {
			width: 100%;
			max-height: 70vh;
			object-fit: contain;
		}

		.gallery-modal-description {
			margin-top: 0.25rem;
			margin-bottom: 0;
		}

		.gallery-modal-close {
			position: relative;
			align-self: flex-end;
			width: 32px;
			height: 32px;
			background-color: transparent;
			border-radius: 4px;
			border: none;
			cursor: pointer;
			opacity: 0.8;

			span {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 24px;
				height: 4px;
				background-color: #fff;
				border-radius: 2px;
				transform-origin: center;

				&:first-child {
					transform: translate(-50%, -50%) rotate(45deg);
				}
				&:last-child {
					transform: translate(-50%, -50%) rotate(-45deg);
				}
				&:hover {
					background-color: #fff;
				}
			}

			&:hover, &:focus-visible {
				background-color: #fff2;
				opacity: 1.0;
			}
			&:active {
				background-color: #fff4;
			}
		}
	}
}
