---
title: Mascot - GodSVG
---
{% extends "base.njk" %}

{% block body %}
	<div class="content">
		<h2 style="margin-top: 0">Meet Vicki, the vector fox mascot of GodSVG</h2>
		<p>Vicki is GodSVG's official mascot - a curious blue fox that represents precision, flexibility, creativity, and a fascination with the inner workings of things.</p>
		<p>If you want to learn more about Vicki, check out her <a href="article/introducing-vicki">introduction blog post</a>.</p>
		<p>GodSVG's logo originated from some quick sketches of G-shaped logos I made to replace the early placeholder one. Things clicked when I realized the fox's head could act as the crossbar. <a href="https://github.com/Volts-s">Tom Blackwell</a> iterated on the idea to make the first blue fox logo, from there I iterated a lot more to get the current logo.</p>
		<div style="margin-top:0.65rem;margin-bottom:0.65rem;text-align:center">
			<img src="/assets/mascot/creation.webp" />
		</div>
		<p>A few months after the logo was made, I conceived Vicki as a mascot for the application from this logo.</p>
		<p>There are no real guidelines for how to draw her, make whatever fanart you want. But if you want to be more faithful, here are the general guidelines for official artworks:</p>
		<ul>
			<li>Blue coat, darker blue around the paws, lighter blue around the lower half of the face and the tip of the tail.</li>
			<li>Different art styles are encouraged, but they shouldn't intentionally exaggerate Vicki's body proportions.</li>
			<li>The RGB paint trail behind the tail is optional, but should generally be drawn. It should generally not affect the tip of the tail. Droplets of paint dripping from the tail can also be drawn if the tail is raised up. The sequence should always be red-green-blue, but the orientation of it doesn't matter.</li>
			<li>Three or four toes on each paw, anything that looks "paw-like" works. No claws.</li>
			<li>No stereotypical indicators that Vicki is female.</li>
		</ul>
		<h2>Art gallery</h2>
		{% set images = [
			{ src: "/assets/mascot/star_artwork_512.webp", desc: "Created by me to celebrate reaching 512 stars on GodSVG's Github repository. It was also used as the cover image for the v1.0-alpha3 blog post. This was the first more serious artwork around the project and it introduced the bat that would often be seen in future artworks.", alt: "" },
			{ src: "/assets/mascot/star_artwork_1024.webp", desc: "Commissioned from CoilleNohy to celebrate reaching 1024 stars on GodSVG's Github repository, which happened to exactly coincide with the application's first open source birthday. The artwork was also used in a lot of different ways around GodSVG's online presence.<br/><br/>Artist comment: Lmofa", alt: "" },
			{ src: "/assets/mascot/vicki_themes.webp", desc: "Created by me as a vector illustration for the cover image of the v1.0-alpha11 blog post, to represent the addition of themes in GodSVG. The Sun represents the Light theme, the Moon represents the Dark theme, and a black hole represents the Black theme.<br/><br/>This is just an illustration, Vicki never grew to the size of a celestial body.", alt: "" },
			{ src: "/assets/mascot/bugs_everywhere.webp", desc: "Created by me for fun, eventually used in the mascot introduction blog post. Based on the Buzz Lightyear \"X, X everywhere\" meme.", alt: "" },
			{ src: "/assets/mascot/alpha14_cover.webp", desc: "Created by <a href=\"https://bsky.app/profile/dotmouse.bsky.social\">DotMouse</a> as a birthday gift for me, used as the cover image for the v1.0-alpha14 blog post with their permission, to represent the keyboard focus navigation implemented in that prerelease.<br/><br/>Artist comment: This artwork used to have a square aspect ratio before I expanded it to a much wider one. I made sure to remember Vicki's RGB trail, since I tend to forget these details. I also took an unusual approach with the shading, using the blend mode burn instead of multiply, which I think ended up giving the illustration a more vibrant tone. I think my line weights need more work, but I do really like the thin outlines I gave them.", alt: "" },
			{ src: "/assets/mascot/alpha15_cover.webp", desc: "Created by me for the v1.0-alpha15 blog post cover image, to represent the improvements to the color picker in that prerelease.<br/><br/>After I worked out the composition of the artwork, I wanted to make it so Vicki's surroundings look ancient compared to her, so I gave them detailed textures and moss, but kept the fox simple and unshaded.", alt: "" },
			{ src: "/assets/mascot/introducing_vicki_cover.webp", desc: "Created by me for the mascot introduction blog post to represent Vicki's connection to the stars, used as a cover image for it.<br/><br/>For this artwork, I used sepia colors to give the sense that the scene comes from a dream. The landscape is as simple as possible and the fox is unshaded, while the star is textured, giving the sense that Vicki is new and innocent, while the world around her is ancient.", alt: "" },
			{ src: "/assets/mascot/vicki_after_dark.webp", desc: "Created by me for the mascot introduction blog post to represent how Vicki's hometown residents viewed her as a dangerous occult figure.<br/><br/>For this piece, I used grayscale colors with a slight sepia tint to make it seem eerie, inspired by the Limbo videogame. There's a film noise overlay to give it an old feel, and a corrugated texture in the background to give the sense that something dangerous is happening \"behind closed curtains\". I exaggerated the eyes and kept them unobscured by these overlays, to make the pupils feel more piercing.", alt: "" }
		] %}
		{% include "gallery_view.njk" %}
	</div>
{% endblock %}
