---
permalink: 404.html
title: Page not found - GodSVG
---
{% extends "bare.njk" %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="/styles/404.scss">
{% endblock %}

{% block body %}
	<img src="/assets/icon404.svg" alt="Error 404 icon">
	<h1>404 - Page not found</h1>
	<div class="panel">
		<p>Try these pages:</p>
		<ul>
			<li><a href="/">Main page</a></li>
			<li><a href="/editor">Web editor</a></li>
			<li><a href="/releases">Releases</a></li>
			<li><a href="/blog">Blog</a></li>
		</ul>
	</div>
{% endblock %}