---
title: Blog - GodSVG
---
{% extends "base.njk" %}

{% block head %}
	<link rel="alternate" type="application/atom+xml" title="GodSVG Blog" href="{{site.url}}/blog/feed.xml" />
{% endblock %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="/styles/blog.scss">
{% endblock %}

{% block body %}
	<div class="content-container">
		<h1>
			GodSVG Blog
			<a href="/blog/atom.xml" id="blog-feed-btn" title="ATOM feed for ATOM/RSS feed readers"><img src="/assets/logo_rss.svg"/></a>
		</h1>
		<div class="blog-posts-grid">
			{% for post in collections.articles | reverse %}
				<div class="blog-card">
					<a href="/article/{{post.data.slugcat | slugify}}">
						<img src="/assets/blog/{{post.data.slugcat | slugify}}/cover.webp" class="blog-thumbnail" alt="{{post.data.title}}"/>
						<div class="blog-card-text">
							<p class="date">{{post.date.toLocaleString("en-us", { year:"numeric", month:"short", day:"numeric" })}}</p>
							<p class="title">{{post.data.title}}</p>
							<p class="tagline">{{post.data.tagline}}</p>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
