---
permalink: /blog/rss.xml
---
<?xml version="1.0" encoding="utf-8"?>
<!-- https://www.rfc-editor.org/rfc/rfc4287.html -->
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>GodSVG Blog</title>
	<link>https://www.godsvg.com</link>
	<description>News about GodSVG releases and more</description>

	{% for post in collections.articles %}
		<entry>
			<title>{{post.data.title}}</title>
			<link href="/article/{{post.data.slugcat | slugify}}" />
			<author>{{post.data.author}}</author>
			<published>{{post.date | dateToRfc3339}}</published>
			<summary>{{post.data.tagline}}</summary>
			<id>{{post.data.slugcat | slugify}}</id>
			<content type="html" xml:lang="en"><![CDATA[ {{ post.content | safe }} ]]></content>
		</entry>
	{% endfor %}
</feed>