---
title: Blog - GodSVG
---
{% extends "base.njk" %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="/styles/blog.scss">
{% endblock %}

{% block body %}
	<div class="content-container">
		<div class="page-title">GodSVG Blog</div>
		<div class="blog-posts-grid">
			{% for post in collections.articles | reverse %}
				<div class="blog-card">
					<a href="/article/{{post.data.slugcat | slugify}}">
						<img src="/assets/blog/{{post.data.slugcat | slugify}}/cover.webp" class="blog-thumbnail" alt="{{post.data.title}}"/>
						<div class="blog-card-text">
							<p class="date">{{post.date.toLocaleString("en-us", { year:"numeric", month:"short", day:"numeric" })}}</p>
							<p class="title">{{post.data.title}}</p>
							<p class="tagline">{{post.data.tagline}}</p>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}