---
title: Releases - GodSVG
---
{% extends "base.njk" %}

{% block body %}
	<div class="container">
		<h1 class="page-title">GodSVG Releases</h1>

		{% for version, release in releases %}
			<div class="release-box">
				<div class="release-info">
					<h2 class="release-name">{{version}}</h2>
					<span class="release-date">{{release.date}}</span>
				</div>
				<div class="release-actions">
					{% if ("/article/" + (version | slugify)) | pageExists %}
						<a href="/article/{{version | slugify}}" class="btn btn-notes">Release Notes</a>
					{% endif %}
					<details class="dropdown">
						<summary class="btn btn-download release-download" version="{{version}}">
							<span id="dropbtn-text">Downloads</span>
							<img style="margin-left: 4px" alt="" src="/assets/chevron.svg" />
						</summary>
						<div class="dropdown-content">
							{% for platform in release.platforms %}
								<a href="{{downloads(version)[platform]}}" platform="{{platform}}" class="platform-option" download>
									<img src="/assets/platforms_{{platform}}.svg" alt="_" class="solo-platform-icon">
									<div class="solo-text">{{platformInfo.displayNames[platform]}}</div>
								</a>
							{% endfor %}
						</div>
					</detals>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="/styles/releases.scss">
{% endblock %}

{% block script %}
	{% include "data/downloads.njk" %}
	<script src="/scripts/releases.js" type="application/javascript"></script>
{% endblock %}
