---
title: Releases - GodSVG
---
{% extends "base.njk" %}
{% from "downloads_dropdown.njk" import downloadsDropdown %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="/styles/releases.scss">
{% endblock %}

{% block body %}
	<div class="container">
		<h1>GodSVG Releases</h1>
		<div class="releases-container">
		{% for version, release in releases %}
			<div class="release-box">
				<div class="release-info">
					<h2 class="release-name">{{version}}</h2>
					<span class="release-date">{{release.date}}</span>
				</div>
				<div class="release-actions">
					{% if ("/article/" + (version | slugify)) | pageExists %}
						<a href="/article/{{version | slugify}}" class="btn btn-notes">Release Notes</a>
					{% endif %}
					{{ downloadsDropdown(version, release, downloads, platformInfo, { variant: "compact"}) }}
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
{% endblock %}

{% block script %}
	{% include "data/downloads.njk" %}
	<script src="/scripts/dropdown.js" type="application/javascript"></script>
{% endblock %}
