---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
Sitemap: {{site.url}}/sitemap.xml

{% fetch "https://raw.githubusercontent.com/ai-robots-txt/ai.robots.txt/refs/heads/main/robots.txt"%}

User-agent: *
Disallow: /404
Disallow: /assets/
