{% extends "base.njk" %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="/styles/base.scss">
{% endblock %}

{% block body %}
    <div class="notice-panel info">
        <div class="notice-header">INFO:</div>
        <div class="notice-message">
            The city is filthy. The night sky pours down rain like it has a personal grudge. A mournful serenade to the lost souls that roam this city. But while rain comes from above, something else comes from below. A thick black sludge seeps up though the cracks in the streets, as if the city itself is bleeding its own filth and corruption. "It'll stick to yer sole", they laugh. But most people have long stopped wondering what exactly is coming from the depths of the streets. Just another bit of filth to scrape off at the end of the day.
        </div>
    </div>
{% endblock %}
